# Catch-all owner. Any PR touching this repo requests review from this user.
# Docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-configuration/customizing-your-repository/about-code-owners
*  @ondrejbartas
